* {
    box-sizing: border-box;
}

body {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: smaller;
padding: 1%;}

header {
    border: solid;
    border-color: whitesmoke;
    box-shadow: 2px 2px 2px grey;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav li {
    padding-inline-start: 10%;
    padding: 0.1rem 3.5rem 0.5rem 0;
    font-size: smaller;
}

footer {
    background-color: black;
}
.footer__item {
    color: whitesmoke;
}


h1 {
    color: orange;
    }

    h2 {
    color: lightskyblue
}
h3 {
    color: greenyellow;
}

