* {
    font-family: sans-serif;
}
h1 {
    color: grey
}
h2 {
    color: blue
}
h3 {
    color: blueviolet;
}

p {
    box-sizing:  border-box;
    background-color: lightseagreen;
}
footer {
    background-color: goldenrod
}